<div id="cool-wrapper">
  <%= form_for @game_user do |f| %>
    <div class="field">
      <%= f.label :login, "Логин" %>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :pass, "Пароль" %>
      <%= f.password_field :pass %>
    </div>
    <%= f.button "Сделать зашибенно" %>
  <% end %>
  <div id="cool-results">
    <%= @game_status %>
  </div>
</div>
